body 
{
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;

}

.head 
{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    margin-bottom: 70px;

}
.head-img 
{
    width: 40%;
    transition: transform 1.1s ease-out;
    transform: translateX(-50px);

}
.head-title
{
    width: 43%;
    transition: transform 1.1s ease-out;
    transform: translateX(100px);

}
.head-title h1 
{
    font-size: 64px;
    color: #ffffff;

}
.head-title a , .highlights-title a
{
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 0px;
}
.head-title a:hover 
{
    transition: border-radius .7s ease-in-out;
    border-radius: 30px;
}
.players 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    width: 80%;
    margin-left: 10%;
    
}
.player 
{
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.2);
    
}
.player-details
{
    overflow: hidden;
}

.player-details img 
{
    height: 256px;
}

.highlights 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 5%;
}

.highlights img 
{
    width: 40%;
}

.highlights h1 
{
    font-size: 48px;
    margin: 0;
}

.highlights-title 
{
    width: 45%;
}
.highlights-title p
{
    margin-bottom: 24px;
}
footer 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > img 
{
    width: 35%;
}

footer > ul 
{
    display: flex;
    list-style: none;
}

footer > ul > li
{
    padding-right: 15px ;
}
.fab
{
    color: grey;
    font-size: 20px;
}

@media only screen and (max-width:668px) {
    .head, .highlights 
    {
        flex-direction: column;
        
    }
    .head-title, .head-img 
    {
        transition: none;
        transform: none;
    }
    .head-title 
    {
        width: 80%;
    }
    .players 
    {
        grid-template-columns: 1fr;
        margin-left: 5%;
    }

    .head-img 
    {
        width: 330px;
        height: 260px;
    }
    .head-title h1 
    {
        font-size: 35px;
    }
    .highlights h1 
    {
        font-size: 24px;
    }
    .highlights img 
    {
        width: 100%;
    }
    .highlights-title
    {
        width: 100%;
        margin-bottom: 25%;
    }
    footer > img 
    {
        width: 65%;
    }
}