body 
{
    margin: 0;
    padding: 0;

}

.head 
{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    margin-bottom: 70px;

}
.head img 
{
    width: 40%;
}
.head-title
{
    width: 43%;
    margin-left: 10%;
}
.head-title h1 
{
    font-size: 64px;
    color: #ffffff;

}
.head-title a 
{
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
}
.players 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    width: 80%;
    margin-left: 10%;
}
.player 
{
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.2);
    border-radius: 5px;
}
.player-details img 
{
    height: 256px;
}